#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: block;
    width: 100%;
}

.testimonial-box {
    background-color: #ffffff;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 30px 0 -20px #d63447;
    box-shadow: 0px 30px 0 -20px #d63447;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.profile .user_name {
    font-weight: bold;
    font-size: 16px;
    color: #252525;
    line-height: 20px;
    margin-bottom: 5px;
}

.profile .service {
    font-size: 14px;
    line-height: 16px;
    font-weight: 550;
}

.profile .date {
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
}

.client-comment p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #252525;
    font-weight: 400;
}

.reviews i:not(:last-child) {
    margin-right: 3px;
}

@media(max-width:767px) {
    .testimonial-box {
        width: 100%;
    }

    .testimonial-heading h1 {
        font-size: 1.4rem;
    }

    .profile .user_name {
        font-size: 14px;
    }

    .profile .date,
    .profile .service,
    .client-comment p {
        font-size: 12px;
    }

    .reviews i {
        font-size: 14px;
    }
}

@media(max-width:475px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}